
/*SERVICIOS DASHBOARD*/

#board-Servicios{
    text-align: center;
    border: 1px solid black;
}




/*-------------------servicios todos-------------------------------*/

#side_nav{
    background: rgb(38,78,158);
    background: linear-gradient(0deg, rgba(38,78,158,1) 0%, rgba(255,255,255,1) 61%);
    min-width: 250px;
    max-width: 250px;
    padding: 10px;
    border: 1px solid rgba(38,78,158,1);
    
}

#side_nav h1{
    text-align: center;
}


.contenido-principal{
    min-height: 100vh;
    
    margin: 0px;
}

ul{
    list-style-type: none;
}

i{
    font-size: 15px;
}